@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <profile name="My Profiling Step via a <profile> Tag">
        @{ DateTime.Now.ToString("G"); }
        <span>Hello Mars!</span>
        <br />
        <span><fon style="color:deeppink">@DateTime.Now.ToString("G")</fon></span>
        <br />
        <span><fon><a href="http://www.Google.com">如果不会，Google一下很方便！</a></fon></span>
        <br />
        <span><fon><a href="http://www.baidu.com">访问不了Google？那就百度一下吧……</a></fon></span>
    </profile>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
